@*Menú adaptable*@
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NetTechnicalTest</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            @*Elemento que carga minoristas*@
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Retailers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            @*Elemento que carga precios*@
            <NavLink class="nav-link" href="prices">
                <span class="oi oi-plus" aria-hidden="true"></span> Prices
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    //Muestra o colapsa el menú desplegable
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
